{%  extends 'LandingPage/base.html' %}
{% load static %}
{% block conteudo %}


    <section class="home">
        <video class="video-slide active" src="{% static 'video/roma.mp4' %}" autoplay muted loop></video>
        <div class="content active">
            <h1>VEJA ALGUNS<br><span>DESTINOS QUE SEUS PONTOS PODEM TE LEVAR</span></h1>
        </div>
            <div id="card-area">
                <div class="wrapper">
                    <div class="box-area">
                        <div class="box">
                            <img src="{% static 'experiencias/disney.jpg' %}" alt="Mickey Mouse e sua turna na frento do casto da Cinderela no parque da Disney">
                            <div class="overlay">
                                <h3>Parques da Disney</h3>
                                <p>Você pode experienciar toda a magia dos parques da Disney ao redor do Mundo!</p>
                                <a href="login.html">Cadastre-se</a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'experiencias/franca.jpg' %}" alt="Imagem tira da torre Eiffel">
                            <div class="overlay">
                                <h3>Paris</h3>
                                <p>Você pode experienciar todo encanto da cidade luz!</p>
                                <a href="login.html">Cadastre-se</a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'experiencias/italia.jpg' %}" alt="">
                            <div class="overlay">
                                <h3>Italia</h3>
                                <p>Você pode experienciar toda a riquesa cultural e gastronomica que somente a Italia oferece!</p>
                                <a href="login.html">Cadastre-se</a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'experiencias/maldivas.jpg' %}" alt="Foto aerea do mar, com aguas cristalinas e conjunto de bangalos em maldivas">
                            <div class="overlay">
                                <h3>Maldivas</h3>
                                <p>Você pode experienciar todo o encando de um dos lugares mais paradisiacos do mundo!</p>
                                <a href="login.html">Cadastre-se</a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'experiencias/japao.jpg' %}" alt="Imagem de uma construção tradicional japonesa ao lado de uma arvore de flor de cerejeira com o monte Fuji ao fundo">
                            <div class="overlay">
                                <h3>Japão</h3>
                                <p>Você pode experienciar toda a tradição, e tecnologia que somente a terra do Sol Nascente pode te oferecer!</p>
                                <a href="login.html">Cadastre-se</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="media-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/osni_partnership/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        </div>


    </section>
{% endblock %}

