{%  extends 'LandingPage/base.html' %}
{% load static %}
{% block conteudo %}


    <section class="home">
        <video class="video-slide active" src="{% static 'video/parceria.mp4' %}" autoplay muted loop></video>
        <div class="content active">
            <h1>UMA PARCERIA DE SUCESSO.<br><span>Veja alguns de nossos parceiros</span></h1>
        </div>           
            <main>
                <div class="container reverse" style="--width: 350px; --height: 190px; --quantity: 6;">
                    <div class="carrossel">
                        <div class="item" style="--delay: 1s"><a href="https://www.instagram.com/grupomaxi/"><img src="./imagens/grupomax.png" alt=""></a></div>
                        <div class="item" style="--delay: 2s"><a href="https://onehouseambientes.com.br/"><img src="./imagens/onehouse.png" alt=""></a></div>
                        <div class="item" style="--delay: 3s"><a href="https://www.instagram.com/grupomaxi/"><img src="./imagens/grupomax.png" alt=""></a></div>
                        <div class="item" style="--delay: 4s"><a href="https://onehouseambientes.com.br/"><img src="./imagens/onehouse.png" alt=""></a></div>
                        <div class="item" style="--delay: 5s"><a href="https://www.instagram.com/grupomaxi/"><img src="./imagens/grupomax.png" alt=""></a></div>
                        <div class="item" style="--delay: 6s"><a href="https://onehouseambientes.com.br/"><img src="./imagens/onehouse.png" alt=""></a></div>
                    </div>
                </div>

                <div class="container" style="--width: 140px; --height: 140px; --quantity: 13;">
                    <div class="carrossel">
                        <div class="item" style="--delay: 1s"><img src="./assets/ceusa-1.png" alt=""></div>
                        <div class="item" style="--delay: 2s"><img src="./assets/corsstone.png" alt=""></div>
                        <div class="item" style="--delay: 3s"><img src="./assets/deca.png" alt=""></div>
                        <div class="item" style="--delay: 4s"><img src="./assets/decortiles.png" alt=""></div>
                        <div class="item" style="--delay: 5s"><img src="./assets/derosso.png" alt=""></div>
                        <div class="item" style="--delay: 6s"><img src="./assets/docoll.png" alt=""></div>
                        <div class="item" style="--delay: 7s"><img src="./assets/eliane.png" alt=""></div>
                        <div class="item" style="--delay: 8s"><img src="./assets/fiandre-1.png" alt=""></div>
                        <div class="item" style="--delay: 9s"><img src="./assets/Incepa.png" alt=""></div>
                        <div class="item" style="--delay: 10s"><img src="./assets/infinity.png" alt=""></div>
                        <div class="item" style="--delay: 11s"><img src="./assets/kerakoll.png" alt=""></div>
                        <div class="item" style="--delay: 12s"><img src="./assets/lexxa.png" alt=""></div>
                        <div class="item" style="--delay: 13s"><img src="./assets/Mosarte-3.png" alt=""></div>
                    </div>
                </div>

                <div class="container" style="--width: 140px; --height: 140px; --quantity: 14;">
                    <div class="carrossel">
                        <div class="item" style="--delay: 1s"><img src="./assets/nina.png" alt=""></div>
                        <div class="item" style="--delay: 2s"><img src="./assets/pormade.png" alt=""></div>
                        <div class="item" style="--delay: 3s"><img src="./assets/portinari.png" alt=""></div>
                        <div class="item" style="--delay: 4s"><img src="./assets/pretty-1.png" alt=""></div>
                        <div class="item" style="--delay: 5s"><img src="./assets/Ritallio.png" alt=""></div>
                        <div class="item" style="--delay: 6s"><img src="./assets/Roca-1.png" alt=""></div>
                        <div class="item" style="--delay: 7s"><img src="./assets/SantaLuiza-1.png" alt=""></div>
                        <div class="item" style="--delay: 8s"><img src="./assets/stato-1.png" alt=""></div>
                        <div class="item" style="--delay: 9s"><img src="./assets/stobag-1.png" alt=""></div>
                        <div class="item" style="--delay: 10s"><img src="./assets/sv.png" alt=""></div>
                        <div class="item" style="--delay: 11s"><img src="./assets/teto-vinilico.png" alt=""></div>
                        <div class="item" style="--delay: 12s"><img src="./assets/viscardi.png" alt=""></div>
                        <div class="item" style="--delay: 13s"><img src="./assets/WiseHome.png" alt=""></div>
                        <div class="item" style="--delay: 14s"><img src="./assets/zen-gardem.png" alt=""></div>
                    </div>
                </div>
        
            </main>
            
        <div class="media-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/osni_partnership/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        </div>

    </section>

{% endblock %}

