{%  extends 'LandingPage/base.html' %}
{% load static %}
{% block conteudo %}


    <section class="home">
        <video class="video-slide active" src="{% static 'video/aviao.mp4' %}" autoplay muted loop></video>
        <div class="content active">
            <h1>DECOLANDO.<br><span>PARA O FUTURO</span></h1>
            <p>Um programa de pontuação que preza pela parceria, onde o principal objetivo é cuidar do relacionamento comercial, pois acreditamos ser fundamental para impulsionar o crescimento e o sucesso em um mercado cada vez mais competitivo e dinâmico, assim alcançando voos maiores.</p>
        </div>
        <div class="media-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/osni_partnership/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        </div>
       

    </section>
{% endblock %}

