<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Responsive Dashboard Design #1 | AsmrProg</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <h2 style="font-family: 'Minimo Regular'; font-size: 30px; font-weight: 900;"><span>partnership</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="dashboard.html">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Painel</h3>
                </a>
                <a href="user.html">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Usuario</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Historico</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Analytics</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Mensagens</h3>
                    <span class="message-count">59</span>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Lista de Desejos</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Configuração</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>Novo Usuário</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Perfil</h1>
            <!-- Analyses -->
            <div class="analyse">
            <!-- End of Analyses -->

            <!-- New Users Section -->
            <div class="new-users">
                <h2>Aniversários da Semana</h2>
                <div class="user-list">
                    <div class="user">
                        <H3>Dados Pessoais </H3>
                        <input type="text-name" placeholder="Nome">
                        <input type="text" placeholder="CPF">
                        <input type="text-name" placeholder="RG">
                        <input type="date" placeholder="Data de Nascimento">
                        <input type="tel" placeholder="Telefone">
                        <input type="tel" placeholder="Whatsapp">
                        <h3>Endereço</h3>
                        <input type="number" placeholder="CEP">
                        <input type="text-name" placeholder="Rua">
                        <input type="text-name" placeholder="Numero">
                        <input type="text-name" placeholder="Complemento">
                        <input type="text-name" placeholder="Bairro">
                        <input type="text-name" placeholder="Cidade">
                        <input type="text-name" placeholder="UF">
                    </div>
                </div>
            </div>
            <!-- End of New Users Section -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Olá, <b>Osni</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="images-dashboard/perfil.png">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->
        </div>
    </div>

    <script src="orders.js"></script>
    <script src="calendario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="Analytic.js"></script>

</body>

</html>